* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(../../img/backgroung-image.jpeg);
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 3px solid;
    background-color: gray;
    width: 70px;
    height: 70px;
}

.w140p {
    width: 140px;
}

.h140p {
    height: 140px;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}